In [21]:
%matplotlib inline
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler

In [22]:
# from tf.keras.models import Sequential  # This does not work!
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Input, Dense, GRU, Embedding
from tensorflow.python.keras.optimizers import RMSprop
from tensorflow.python.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau

In [16]:
df = pd.read_csv("Past_Month_All.csv")

In [17]:
df.head(1)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2019-12-15T06:11:51.155Z,6.6969,125.1739,18.0,6.8,mww,NaN,39.0,0.546,1.05,...,2020-01-12T07:09:57.730Z,"7km S of Magsaysay, Philippines",earthquake,8.0,1.7,0.051,37.0,reviewed,us,us

In [18]:
df = df[['time', 'mag', 'latitude', 'longitude']]

In [19]:

df['time']=df['time'].str.split("T", n = 1, expand = True)

In [20]:
df.head()

         time  mag  latitude  longitude
0  2019-12-15  6.8    6.6969   125.1739
1  2020-01-07  6.4   17.9161   -66.8125
2  2020-01-09  6.3   62.3408   171.0597
3  2019-12-25  6.3   50.5828  -129.9987
4  2020-01-07  6.2    2.3334    96.3470

In [24]:
df.values.shape

(11395, 4)

In [27]:
target_names = ['mag','latitude','longitude']

In [33]:
shift = 1

In [34]:
df_targets = df[target_names].shift(-shift)

In [35]:
df_targets.head()

   mag  latitude  longitude
0  6.4   17.9161   -66.8125
1  6.3   62.3408   171.0597
2  6.3   50.5828  -129.9987
3  6.2    2.3334    96.3470
4  6.1   36.5344    70.4374

In [36]:
x_data = df.values[0:-shift]

In [37]:
print(type(x_data))
print("Shape:", x_data.shape)

<class 'numpy.ndarray'>
Shape: (11394, 4)

In [38]:
y_data = df_targets.values[:-shift]

In [40]:
type(y_data)
y_data.shape

(11394, 3)

In [41]:
train_split = .9

In [42]:
num_train = int(train_split * num_data)
num_train

NameError: name 'num_data' is not defined